---
import TarjetaAbout from "../components/Tarjeta-about.astro";
import TarjetaContact from "../components/Tarjeta-contact.astro";
import Layout from "../layouts/Layout.astro";

import { Icon } from 'astro-icon/components'

---


<Layout>
	<section>
		<div>
			<h1>REEICC</h1>
			<p>DJ & MUSIC PRODUCER</p>
		</div>

		<button>BOOK NOW</button>
		<div>

			<h2>ABOUT</h2>
			<p>Reeicc es un DJ y productor que ha logrado posicionarse como una de las figuras emergentes más interesantes dentro del panorama de la música electrónica contemporánea. Su propuesta sonora es una mezcla vibrante y energética que camina con precisión sobre la línea que separa el Tech House de vanguardia y el Latin Tech.</p>

		</div>
	<div>
		<TarjetaAbout></TarjetaAbout>
		<TarjetaAbout></TarjetaAbout>
		<TarjetaAbout></TarjetaAbout>
		<TarjetaAbout></TarjetaAbout>
	</div>	
	<div>
		<h2>MUSIC</h2>
	</div>

	<div>
		<h2>IN ACTION</h2>

	</div>
	
	<div>
		<Icon name="facebook" />
		<Icon name="instagram" />
		<Icon name="youtube" />
		<Icon name="music" />
	</div>
	<div>
		<h2>CONTACT</h2>

		<TarjetaContact></TarjetaContact>
		<TarjetaContact></TarjetaContact>
		<TarjetaContact></TarjetaContact>
		
	</div>
	</section>
</Layout>
