---
import TarjetaAbout from "../components/Tarjeta-about.astro";
import TarjetaContact from "../components/Tarjeta-contact.astro";
import Layout from "../layouts/Layout.astro";

import { Icon } from "astro-icon/components";
---

<Layout>
	<section>
		<div class="box1">
			<div class="fondo">
				<img src="/djfondo.jpg" alt="" />
			</div>
			<h1>REEICC</h1>
			<p>DJ & MUSIC PRODUCER</p>
			<button>BOOK NOW</button>
		</div>

		<div class="box2">
			<h2>ABOUT</h2>
			<p>
				Reeicc es un DJ y productor que ha logrado posicionarse como una
				de las figuras emergentes más interesantes dentro del panorama
				de la música electrónica contemporánea. Su propuesta sonora es
				una mezcla vibrante y energética que camina con precisión sobre
				la línea que separa el Tech House de vanguardia y el Latin Tech.
			</p>
		</div>
		<div class="card1">
			<TarjetaAbout foto="/fotodj1.jpg" ubi="Ibiza" />
			<TarjetaAbout foto="/fotodj2.jpg" ubi="Tenerife" />
			<TarjetaAbout foto="/fotodj3.jpg" ubi="Bali" />
			<TarjetaAbout foto="/fotodj4.jpg" ubi="Indonesia" />
		</div>

		<div class="music">
			<h2>MUSIC</h2>
		</div>

		<div class="action">
			<h2>IN ACTION</h2>
			<div class="flex gap-6">
				<div class="h-24">
					<img class="h-full object-cover " src="/dj1.jpg" alt="" width="150px" height="170px" />
				</div>
				<div class="h-24">
					<img class="h-full object-cover " src="/dj2.jpg" alt="" width="150px" height="170px" />
				</div>
				<div class="h-24">
					<img class="h-full object-cover " src="dj3.jpg" alt="" width="150px" height="170px" />
				</div>
			</div>
		</div>

		<div class="icons">
			<Icon name="facebook" size={32} />
			<Icon name="instagram" size={32} />
			<Icon name="youtube" size={32} />
			<Icon name="music" size={32} />
		</div>
		<div class="contact">
			<h2>CONTACT</h2>
			<div class="flex gap-16 px-8">
				<TarjetaContact
					icon="star"
					titulo="Bookings & Info"
					correo="prodbyreeicc@gmail.com"
					parrafo="Book Lennert for your next event"
				/>
				<TarjetaContact
					icon="message"
					titulo="Press"
					correo="prodbyreeicc@gmail.com"
				/>
				<TarjetaContact
					titulo="Demos"
					correo=" demoreeicc@gmail.com"
					icon="music"
				/>
			</div>
		</div>
	</section>
</Layout>

<style>
	.fondo {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -10;
	}
	
	h2 {
		font-size: 44px;
	}
	p {
		font-size: 18px;
	}
	.box1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-top: 200px;
		padding-bottom: 200px;
		overflow: hidden;
	}

	.box1 h1 {
		font-size: 72px;
	}

	.box2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.box2 p {
		max-width: 800px;
	}

	.card1 {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;
		padding: 24px 0px;
	}

	.music {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.action {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 24px;
		padding: 24px 0px;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	section {
		display: flex;
		flex-direction: column;
	}

	button { 
		background-color: rgb(255, 255, 255); 
		padding: 10px 20px;
		border-radius: 7px;
		color: black;
	}
</style>
