---
import Layout from "../layouts/Layout.astro";

import { Icon } from 'astro-icon/components'

---


<Layout>
	<section>
		<div>
			<h1>REEICC</h1>
			<p>DJ & MUSIC PRODUCER</p>
		</div>

		<button>BOOK NOW</button>
		<div>

			<Icon name="star" />
		</div>
	</section>
</Layout>
