<footer>
    <div>
        <h3>REINALDO CARRILLO</h3>
        <p>2026 ALL RIGHTS RESERVED</p>
    </div>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(16, 16, 16);
        color: white;
        padding: 24px
    }

    footer h3 {
        font-size: 24px;
    }

    footer p {
        font-size: 12px;
    }
</style>
