<nav>
    <div class="logo">REEICC</div>

    <div class="links">
        <a href="">About me</a>
        <a href="">Music</a>
        <a href="">Contact</a>
    </div>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(16, 16, 16);
        padding: 16px 50px;
    }

    .links {
        display: flex;
        gap: 24px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    }

    a {
        display: flex;
        color: rgb(255, 255, 255);
        text-decoration-line: none;
    }

    .logo {
        color: white;
    }
</style>
