---
import { Icon } from "astro-icon/components";
---

<Icon name="star" />

<div>
    <h3>BOOKINGS & INFO</h3>
    <p>Reserva a Reeicc para tu próximo evento</p>
    <p>prodbyreeicc@gmail.com</p>
</div>