---
import { Icon } from "astro-icon/components";
const icon = Astro.props.icon;
const titulo = Astro.props.titulo;
const parrafo = Astro.props.parrafo;
const correo = Astro.props.correo;

interface Props {
    icon: string
    titulo: string
    parrafo?: string
    correo: string
    
}


---

<div>
    <Icon name={icon} />

    <div>
        <h3>{titulo}</h3>
        <p>{parrafo}</p>
        <p>{correo}</p>
    </div>
</div>
